body{
  font-family: Arial, sans-serif;
   }
h1, h2 {
  color: #2E86C1;     
 }
.continent {
  margin-bottom: 20px;
}
.country {
  margin-bottom: 10px;
}
.flag {
  width: 100px;
  height: auto;
  vertical-align: middle;
}
a {
 margin: 4px;
}